flask==2.2.3
flask_login==0.6.2
flask_migrate==3.1.0
WTForms==3.0.1
flask_wtf==1.1.1
flask_sqlalchemy==3.0.3
sqlalchemy==2.0.5
requests==2.22.0
Flask-SocketIO==5.3.2
DateTime==5.1
jinja2==3.1.2
Werkzeug==2.2.3
gunicorn==20.1.0
bcrypt==4.0.1 