
{% extends 'company.html' %}
   
{% block title%}<title>Partner - My Rides</title>{% endblock %}

{% block nava %} {% endblock nava %}
{% block nave %} active {% endblock nave %}

{% block content %}


<!--End New Ride Requests-->

{% for order_qry in order_qry %}

{% if current_user.id == order_qry.available_riders|int and current_user.driver_status=="available"  %} 

             {% set variable1 = timestamp %}
             {% set variable2 = order_qry.time_created %}
         
             {% set result = variable1 - variable2 %}

             {% set result2 = result/60 %}

             {% set resultmin = result2|total_seconds %}

{% if resultmin|int < 3 %}
<!-- POP-UP NOTIFICATION JS -->
<script>
 // JavaScript code for showing the popup
 window.addEventListener('DOMContentLoaded', function() {
     var popup = document.getElementById('popup');
     var dismissBtn = document.getElementById('dismiss-btn');
 
 dismissBtn.addEventListener('click', function() {
   popup.style.display = 'none';
 });

     popup.style.display = 'block';
   });
</script>
<!-- END POP-UP NOTIFICATION JS -->

<!-- POP-UP NOTIFICATION -->
<div class="modal" id="popup" tabindex="-1" role="dialog">
 <div class="modal-dialog modal-lg" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <h5 class="modal-title">A NEW ORDER HAS BEEN ASSIGNED TO YOU!!</h5>
       <span>
         {% if resultmin|int < 1 %} just now
         {% elif resultmin|int < 2 %} 2 min left
         {% else %} expiring soon!
     {% endif %}</span>
     </div>
     <div class="modal-body">
       <h6><small>FROM:</small> {{ order_qry.pickup }} </h6>
       <h6><small>TO:</small> {{ order_qry.dropoff }}</h6>
       <h5><small>Cost:</small> {{order_qry.delivery_cost|format_number}}</h5>
     </div>
     <div class="modal-footer justify-content-center">
       <button type="button" id="dismiss-btn" class="btn btn-outline-primary btn-lg">Decline</button>
       <a href="{{ url_for('order_accepted', id=order_qry.id)}}" target="_blank" type="button" class="btn btn-primary btn-lg w-75" >Accept</a>
     </div>
   </div>
 </div>
</div>
</div>
<!-- END POP-UP NOTIFICATION -->
{% endif %}
{% endif %}


{% endfor %}







<br>

<div class="container card">
    <div class="card-body">
  <h4> Transaction History - <small>({{trans_count_all}}) transactions</small></h4>
<div class="container">
    <div class="card border-0 shadow mb-4">
        <div class="card-body">
            
            <div class="table-responsive">
                <table class="table table-centered table-nowrap mb-0 rounded">
                    <thead class="thead-light">
                        <tr>
                            <th class="border-0 rounded-start">#</th>
                            <th class="border-0">Time</th>
                            <th class="border-0">Earned</th>
                            <th class="border-0">Ride Value</th>
                            <th class="border-0">Charges</th>
                            <th class="border-0">Balance</th> 
                            
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Item -->
                        {% for wallet_qry in wallet_qry %}
                        
                         
                            <tr>
                                
                                <td><a href="#" class="text-primary fw-bold">{{ wallet_qry.id }}</a> </td>
                                <td class="fw-bold d-flex align-items-center">
                                   {{ wallet_qry.date_created.strftime("%m/%d/%Y, %H:%M:%S") }}
                                </td>
    
                                
                                 <td>
                                    {{ wallet_qry.credit_amount|format_number  }} 
                                </td>
    
    
                                <td>
                                    {{ wallet_qry.trans_amount|format_number }}
                                </td>
    
                                <td>
                                    {{wallet_qry.trans_fees|format_number }}
                                </td>
    
                                <td>
                                    {{ wallet_qry.my_balance|format_number }}
                                </td>
                             
                        
                        
                        {% endfor %}
                      
                        <!-- End of Item -->
                    </tbody>
                </table>
                
                <br>
                
            </div>
        </div>
    </div>
  </div>
</div>


<div class="d-flex justify-content-center">
  <nav aria-label="Page navigation example">
      <ul class="pagination">
          {% if order_qry.has_prev %}
            <li class="page-item"> <a class="page-link" href="{{ url_for('dashboard_transactions', page=order_qry.prev_num) }}">Previous</a></li>
          {% else %}
            <li class="page-item"><a class="page-link btn disabled" href="#">Previous</a></li>
          {% endif %}
  
  {% for page in order_qry.iter_pages(left_edge=3, right_edge=3) %}
  {% if page %}
  
  {% if page == order_qry.page %}
  <li class="page-item active"><a class="page-link" href="{{ url_for('dashboard_transactions', page=page) }}">{{ page }}</a></li>
  {% else %}
  <li class="page-item"><a class="page-link" href="{{ url_for('dashboard_transactions', page=page) }}">{{ page }}</a></li>
  {% endif %}
  
  {% else %}
  <li class="page-item disabled" id="example_ellipsis"><a href="#" class="page-link">…</a></li> 
  {% endif %}
  {% endfor %}
  
          {% if order_qry.has_next %}
            <li class="page-item"> <a class="page-link" href="{{ url_for('dashboard_transactions', page=order_qry.next_num) }}">Next</a></li>
          {% else %}
            <li class="page-item"><a class="page-link btn disabled" href="#">Next</a></li>
          {% endif %}
  
      </ul>
  </nav>
  </div>
</div>




    
{% endblock content %}


